<div class="col-md-12">
  <div class="card-heroImg">
    <img [src]="selectedFairDetails.bannerUrl" alt="banner">
    <div class="bannerHeading">
      <h2 class="mb-3">{{selectedFairDetails.fairName}}</h2>
      <h4 class="mb-3"><span>{{selectedFairDetails.startDate | date}} -
          {{selectedFairDetails.endDate | date}}</span></h4>
      <button class="btn btn-outline-info text-info bg-white btn-lg p-2">Upgrade
        to Register For Fair</button>
    </div>
  </div>
  <div class="cardDetail my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card Calendar-card">
          <div class="card-body">
            <p class="text-title"><i class="fa-regular fa-calendar-days"></i>
              Date</p>
            <p>{{selectedFairDetails.startDate | date}}</p>
            <p>{{selectedFairDetails.endDate | date}}</p>
            <p>{{selectedFairDetails.fairStartTime}} -
              {{selectedFairDetails.fairEndTime}}</p>
            <p class="mb-1">{{selectedFairDetails.timezoneId}}</p>
            <p class="mb-1"><a href="javascript:;">Add to Calendar</a></p>
            <p>Last Registration Date</p>
            <p>{{selectedFairDetails.endDate | date}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card Calendar-card loca">
          <div class="card-body">
            <p class="text-title mb-5"><i class=" mr-2 fa-solid
                fa-location-dot"></i>Location</p>
            <img class="pl-5 " src="../assets/images/Lock.svg" alt="lock">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row ml-2">
    <h5 class="mb-4">Description</h5>
    <p class="mb-4" [innerHTML]="selectedFairDetails.candidateDescription"></p>
  </div>
  <p><strong>Related Document</strong></p>
  <div class="row">
    <div class="col-md-2">
      <a href="javascript:;"><img src="../assets/images/PDF.svg" alt="pdf"></a>
    </div>
    <div class="col-md-4 pdf">
      <p><a href="javascript:;">OCT 7 2022<br>2022 iFairs® Agenda.pdf</a></p>
    </div>
  </div>
</div>
