<div class="fair-container">
  <div class="row header">
    <div class="col-sm-12">
      <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <label class="banner-title">International Job Fairs</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="description">
                    <p>
                      Join ISS at our upcoming Job Fairs. Our fairs are optimized to fill vacancies in international schools, with negotiations and contracts often offered on the spot.
                    </p>
                    <p>
                      Register today to save your spot! Network with schools and candidates and if you're new to international education, come see how a recruitment fair can help you land your dream job!
                    </p>
                    <p>
                      If you can't attend any of our traditional fairs, log on for our exclusive iFairs - where we facilitate online meetings and interviews between candidates and recruiters. This unique service has dramatically accelerated the hiring process, proving to be one of our most successful initiatives.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 headImg">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="fairs py-5">
  <div class="row">
    <div class="col-md-4">
      <h5 class="text-center mb-4">Upcoming Fairs and iFairs</h5>
      <app-fair-list [fairListArray]="DataArray"
        (EmitIdApp)="getIdFromFairList($event)"></app-fair-list>
    </div>
    <div class="col-md-7">
      <app-fair-details [detailsArray]="selectedFairDetails"></app-fair-details>
    </div>
  </div>
</section>
