*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.summary{
  // height: 140px;
  width: 400px;
  padding:15px 0;
  background-color: #ededed;
  border: #ededed;
}

.card-heroImg{
  border-radius: 10px;
  overflow: hidden;
  position: relative;

}
.card-heroImg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg,rgba(56,59,65,0),rgba(56,59,65,.8));

}
.card-heroImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cardDetail {
  min-height: 279px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg,#fff6c3,rgba(183,248,244,0));
}

.Calendar-card{
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 230px;

}
.loca{
  margin-left: -15px;
}
.text-title{
  opacity: .6;
  color: #383b41;
  font-size: 16px;
  line-height: 26px;
}
.pdf{
  margin-left: -90px;
}
.pdf a:hover, .pdf a:active, .pdf a:link, .pdf a:visited{
  text-decoration: none;
  color: black;
}

.card-heroImg{
  position: relative;
}
.bannerHeading{
  position: absolute;
  top: 70%;
  left: 12%;
  transform: translate(-20%, -50%);
  color: white;
}
