*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fair-container {
  overflow: hidden;
}
.header {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.banner {
  background-image: url(../../images/Mask.304cc7a906e04dc3799e.svg), url(../../images/international.png);
  height: 450px;
  position: relative;

}
.container{
  max-width: 90%;
}
.top-image{
 z-index: 12;
 position: absolute;
 top: 0;
 left: 0;
}

.banner-title{
  height: 38px;
  color: #383b41;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -.5px;
  line-height: 38px;
  margin-top: 58px;
}



.summary{
  // height: 150px;
  width: 400px;
  padding:15px 0;
  background-color: #ededed;
  border: #ededed;
  cursor: pointer;
}


.card-heroImg{
  border-radius: 10px;
  overflow: hidden;
  position: relative;

}
.card-heroImg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg,rgba(56,59,65,0),rgba(56,59,65,.8));

}
.card-heroImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cardDetail {
  // min-height: 279px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg,#fff6c3,rgba(183,248,244,0));
}

.Calendar-card{
  // padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 230px;
}
.loca{
  margin-left: -15px;
}
// .text-title{
//   opacity: .6;
//   color: #+383b41;
//   font-size: 16px;
//   line-height: 26px;
// }
.pdf{
  margin-left: -90px;
}
.pdf a:hover, .pdf a:active, .pdf a:link, .pdf a:visited{
  text-decoration: none;
  color: black;
}

.card-heroImg{
  position: relative;
}
.bannerHeading{
  position: absolute;
  top: 70%;
  left: 12%;
  transform: translate(-20%, -50%);
  color: white;
}





// **************************************************

// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }
// .fairCard{
//   background-color: #ededed;
// }
// .fairCard .card-title{
//   font-size: 16px;
//   color: black;
// }
// .bgimg{
//   border-radius: 10px;
//   overflow: hidden;
//   position: relative;
// }
// .bgimg::after{
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: linear-gradient(180deg,rgba(56,59,65,0),rgba(56,59,65,.8));
// }
// .bgimg img{
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
// }
// .locationCard p {
//   margin-top: 0;
//    margin-bottom: 0;
// }
// .locationCard{
//   // min-height: 279px;

// margin-top: 30px;
// padding: 20px;
// border-radius: 10px;
// background: linear-gradient(135deg,#fff6c3,rgba(183,248,244,0));
// }
// .locationCard .card{
//   border-radius: 10px;
//   height: 100%;
// }
// .pdf{
//   margin-left: -70px;
// }
// .pdf a:hover, .pdf a:active, .pdf a:link, .pdf a:visited{
//   text-decoration: none;
//   color: black;
// }
